h1{
    text-align: center;
}
#divmain{

    text-align: center;
    background-color: rgb(100, 173, 175);
    height: 1000px;
    width: 800px;
}
#divname{
   padding: 10px;
   border: 1px solid black;

}
#divfname{
    padding: 20px;
    border: 1px solid black;
}
#divaddress{
    padding: 20px;
    border: 1px solid black;
}
#divselect{
    padding: 20px;
    border: 1px solid black;
}
#divhobbies{
    padding: 20px;
    border: 1px solid black;
}
#divdob{
    padding: 20px;
    border: 1px solid black;
}
#divsubmit{
    padding: 20px;
    border: 1px solid black;
    text-align: center;

}